<app-lifecycle *ngIf="toggle" [hero]="curHero"></app-lifecycle>
<input type="button" (click)="updateHero()" value="upterHero">
<input type="button" (click)="updateHeroName()" value="updateHeroName">
显示hero控件<input type="checkbox" [(ngModel)]="toggle">

<div>
  name:<input [(ngModel)]="curHero.name">
  <input type="text">
</div>

<!-- AppComponent演示了AfterViewInit, AfterViewChecked -->
<!-- 并且在无法视图即将更新时，无法修改模型并更新视图，需稍等片刻 -->
<div>
  <app-viewcheck></app-viewcheck>
  info:{{viewcheckMsg}}
</div>

<div>
  <app-contentcheck>
    <app-viewcheck></app-viewcheck>
  </app-contentcheck>
  info:{{contentcheckMsg}}
</div>
